<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>
	</div>
	<div class="row">
	<div class="col-xs-9", style="margin: auto;">
		<div>
			<h1>welcome to <i class="glyphicon glyphicon-book"></i>Bookers !!</h1>
			<p>In <i class="glyphicon glyphicon-book"></i>Bookers,<br>

			you can share and exchange your opinions , inpressions , and emotions<br>

			about various books!</p>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<%= link_to "Log in" ,new_user_session_path, class:'btn btn-info center-block' %><br>

			<%= link_to "Sign up" ,new_user_registration_path, class:'btn btn-success center-block' %>
		</div>
	</div>
</div>